.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100% !important; /* Full width */
    height: 100px;
    z-index: 1;
  }
  .main {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
    margin-bottom: 50px;
    background-color: #8ee4af;
    min-height: 0px;
  }
  .main1 {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
    margin-bottom: 50px;
    height: 100% !important;
  }
  .filterlayout {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #edf5e1;
  }
  .bottombar {
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    background-color: #5cdb95;
    width: 100% !important; /* Full width */
    height: 50px;
    z-index: 1;
    padding: 4px;
  }
  