.container1 {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100% !important;
    height: 100px;
    position: relative;
    justify-content: space-between;
  }
  .searchbar {
    float: center;
    display: flex;
    min-width: 40%;
    text-align: center;
    padding: auto;
  }
  .butter {
    float: left;
    display: block;
    text-align: center;
    min-width: 10%;
    padding: auto;
    cursor: default;
  }
  .auth {
    float: right;
    display: block;
    text-align: center;
    padding: auto;
    height: auto;
    min-width: 10%;
    max-width: 30%;
  }
  .h1 {
    color: #379683;
    margin: auto;
  }
  .btn {
    background-color: transparent;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  .filter {
    position: relative;
    align-self: center;
    color: #379683;
  }
  .searchbar div {
    width: 100%;
  }
  